mixin field(f, submitted)

  .field(class=submitted && !f.valid ? 'invalid' : undefined)
    label(for=f.name, hidden=isHidden? 'hidden' : undefined)=   f.label
    input(type=f.type, name=f.name, value=f.value, id=f.name, placeholder=f.placeholder, class=f.class)
  
